<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades de Secci贸n</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
      body {
        text-align: center;
      }      
    </style>
</head>
<body>
  <header>
    <img src="https://uvm.edu.ve/wp-content/uploads/2022/10/LOGO-RIF.png" alt="Logo UVM">
    <h1>Sistema de Gesti贸n de la Universidad Valle del Momboy</h1>
  </header>
  <h3>Actividades de Secci贸n</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Actividad</th>
        <th>Clase</th>
        <th>Trimestre</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
    <% resp.forEach(r => { %>
        <tr>
          <td><%= r.Id %></td>
          <td><%= r.Id_Actividad %></td>
          <td><%= r.Id_Clase %></td>
          <td><%= r.Trimestre %></td>
          <td><%= r.Fecha %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="http://localhost:3000/asignaractividades/">Asignar Actividades a Secciones</a>
  <footer>
    <p class="footer-p">Ver贸nica Parra 30.600.365<br>Cristhofer Solarte 30.959.561<br> <em>&copy; Backend 2024. Proyecto</em><br><a href="http://localhost:3000/">Principal</a></p>
  </footer>
</body>
</html>